body{
    background-attachment: fixed;
}

.rhine-lab{
    position: fixed;
    width: 15vw;
    height: 10vh;
    margin: 40px 60px;
    color: rgb(0, 0, 0,0.8);
}

.line1{
    font-size: 2vw;
    padding: 3px 5px;
    margin: 0%;
}

.line2{
    font-size: 0.75vw;
    padding: 2px 5px;
    margin: 0%;
}

.line3{
    font-size: 1.55vw;
    padding: 1px 5px;
    margin: 0%;
}

.bottom{
    position: fixed;
    bottom: 0;
    right: 20px;
    color: rgb(0, 0, 0,0.6);
}