body{
    background-attachment: fixed;
}

.rhine-lab{
    position: fixed;
    width: 15vw;
    height: 6.5vw;
    margin: 40px 60px;
    color: rgb(0, 0, 0,0.9);
    border-left: 2px solid black;
}

.line1{
    font-size: 2vw;
    font-weight: 700;
    padding: 3px 5px;
    margin: 0%;
}

.line2{
    font-size: 0.8vw;
    padding: 2px 5px;
    margin: 0%;
}

.line3{
    font-size: 1.5vw;
    padding: 1px 10px;
    margin: 0%;
}

.bottom{
    position: fixed;
    bottom: 0;
    right: 20px;
    color: rgb(0, 0, 0,0.8);
}

.line4{
    position: fixed;
    height: 25vw;
    padding: 20px;
    border-left: 1px solid black;
    margin-left: 60px;
    bottom: 70px;
}

.WELCOME{
    position: fixed;
    height: 20vw;
    bottom: 100px;
    padding: 0px;
    border-left: 1px solid black;
    margin-left: 60px;
}

.welcome-1{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 0px 0px 8px;
}

.welcome-2{
    background-color: black;
    color: rgb(243, 243, 223);
    margin: 5px 0px 0px ;
}

.logo1{
    width: 200px;
    margin: 0px;
    background-color: black;
}